.sidebar {
    height: 100%;
    position: fixed;
    background-color: #db999c;
    width: 60px;
    border-radius: 5px;
    z-index: 10;
    color: #152e3d;
}
.open {
    width: 400px;
}

.toggle-button {
    margin: 20px 0 0 15px;
    background-color: transparent;
    border: none;
    
}

.arrow-img {
    width: 19px;
    height: 30px;
    filter: opacity(0.6)
}

.button-open {
    transform: rotateY(180deg);
    margin-left: 85%;
}