.shopping-cart {
    margin: 20px 0 0 0;
    color: #1E4359;
}

.notification {
    padding: 0 0 0 8px;
}

.cart-heading {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: grid;
    /* justify-content: space-evenly; */
    background-color: #faebe6;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.cart {
    border-radius: 5px;
    margin: 8px;
    border: 2.5px solid;
    /* display: flex;
    flex-direction: row;
    grid-template-columns: auto auto auto auto; */
}

.cart-item {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* column-gap: 10px; */
}

.card-product-name {
    padding: 0 0 0 10px;
}

.money-calc {
    border-radius: 5px;
    margin: 8px;
    border: 2.5px solid;
}

.subtotal {
    height: 35px;
}

.total {
    background-color: #faebe6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



.subtotal, .taxes, .total {
    padding-left: 10px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taxes {
    padding-left: 20px;
    height: 35px;
}

 