.media img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card {
    height: 440px;
    background-color: #db999c;
    padding: 10px 10px 10px 10px;
    color: #1E4359;
    border-radius: 5px;
}

.inProductView {
    height: 500px;
}

.button-icon {
    height: 15px;
    width: 15px;
    /* display: flex; */
    /* margin: auto; */
    border: none;
    margin: 4px 0 0 0;
    /* position: relative; */
    filter: opacity(0.6);
}

.add, .remove {
    margin: 0 5px 0 0;
    /* border-radius: 50%; */
    border: none;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* padding: 5px; */
    border: none;
    border-radius: 50%;
    /* text-align: center; */
    background-color: #faebe6;
}